#about img {
    width: 400px;
    border-radius: 100%;
    border: 5px solid #06063f;
}

#about-content {
    display: flex;
    gap: 50px;
}

#about article {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#about ul {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    padding-left: 40px;
}

#bio {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.favorites {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
